# ##############################################################################
# From Buildroot's original pc_x86_64_efi_defconfig
# ##############################################################################

BR2_x86_64=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/pc/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/pc/post-image-efi.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.19.234"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/pc/linux.config"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_ATHEROS_9170=y
BR2_PACKAGE_LINUX_FIRMWARE_ATHEROS_9271=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_3160=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_3168=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_5000=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_6000G2A=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_6000G2B=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7260=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_7265D=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_8000C=y
BR2_PACKAGE_LINUX_FIRMWARE_IWLWIFI_8265=y
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT73=y
BR2_PACKAGE_LINUX_FIRMWARE_RALINK_RT2XX=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_81XX=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_87XX=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_88XX=y
BR2_PACKAGE_LINUX_FIRMWARE_RTL_8169=y
BR2_PACKAGE_ACPID=y
### Removed: BR2_PACKAGE_CONNMAN=y
### Removed: BR2_PACKAGE_CONNMAN_WIFI=y
### Removed: BR2_PACKAGE_CONNMAN_CLIENT=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
### Replaced: BR2_TARGET_ROOTFS_EXT2_SIZE="120M"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_GRUB2=y
BR2_TARGET_GRUB2_X86_64_EFI=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y


# ##############################################################################
# Customization
# ##############################################################################

BR2_CCACHE=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Without this the device will complain at boot: failed to load regulatory.db
BR2_PACKAGE_WIRELESS_REGDB=y

# Processor
BR2_x86_atom=y

# Kernel additional configuration
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_KIVYCFG_PATH)/board/pc/STK1AW32SC/kernel/linux.fragment"

# Nano editor
BR2_PACKAGE_NANO=y
# BR2_PACKAGE_SUDO=y
# BR2_PACKAGE_OPENSSH=y
BR2_TARGET_GENERIC_ROOT_PASSWD="1"
BR2_PACKAGE_DROPBEAR=y	# SSH
BR2_PACKAGE_DHCPCD=y

# Overlay
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_KIVYCFG_PATH)/rootfs_overlay"

# Exact size
BR2_TARGET_ROOTFS_EXT2_SIZE="256M"


# ##############################################################################
# Kivy graphics support
# Intel Stick STK1AW32SC uses Open GL. Then, inspecting BR2_PACKAGE_HAS_LIBGL / (testing) BR2_PACKAGE_HAS_LIBEGL on menuconfig
# it should be true.
# According to: https://kivy.org/doc/stable/guide/architecture.html
# The version we target is OpenGL 2.0 ES (GLES2) on all devices, so if you want to stay cross-platform compatible, we advise you to only use the GLES2 functions.
# ##############################################################################

BR2_PACKAGE_PYTHON_KIVY=y
BR2_PACKAGE_PYTHON_KIVY_GLES_MESA_X11E=y    # GLES, Mesa and X11 Embedded
# BR2_PACKAGE_PYTHON_KIVY_GSTREAMER=y

# Hardware specific
# BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_I915=y
# BR2_PACKAGE_MESA3D_DRI_DRIVER_I915=y

# X11 related
BR2_PACKAGE_X11VNC=y    # Optional, to provide a VNC service
BR2_PACKAGE_XSERVER_XORG_SERVER_MODULAR=y   # Haven't been able to test KDrive
# BR2_PACKAGE_XSERVER_XORG_SERVER_KDRIVE=y
# select BR2_PACKAGE_XSERVER_XORG_SERVER_KDRIVE if BR2_PACKAGE_XSERVER_XORG_SERVER # This variant of the X.org server is a lightweight version intended for embedded systems
